.categorycards{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:40px;
    flex-wrap:wrap;
}

.category-card-item{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: #ffffff;
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:15px;
    gap: 5px;

    img{
        width:160px;
        height: auto;
    }

    h2{
        font-size: 30px;
        font-weight: 600;
        color: #094B00;
    }

    p{
        font-size: 20px;
        font-weight: 300;
        color: #094B00;
        width: 60%;
        text-align: center;
    }
}

.category-card-button{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    background: #0A6400;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;

    &:hover{
    background-color: #0c7d00;
    transform: translateY(-2px);
    }
}

.category-card-button span{
    transition: transform .2s;
}

.category-card-button:hover span{
    transform: translateX(3px);
}

@media(max-width: 990px) {
    .category-card-item{
        width: 300px;
        height: 300px;
    }

    .category-card-item img{
        width: 120px;
        height: auto;
    }

    .category-card-item h2{
        font-size: 24px;
    }
}

/* Information Card Area */

.informationcards{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:40px;
    flex-wrap:wrap;
}

.information-card-item{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: #ffffff;
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:15px;
    gap: 5px;

    img{
        width:300px;
        height: auto;
    }

    h2{
        font-size: 30px;
        font-weight: 600;
        color: #094B00;
    }

    p{
        font-size: 20px;
        font-weight: 300;
        color: #094B00;
        text-align: center;
    }
}

.information-card-button{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    background: #0A6400;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;

    &:hover{
    background-color: #0c7d00;
    transform: translateY(-2px);
    }
}

.information-card-button span{
    transition: transform .2s;
}

.information-card-button:hover span{
    transform: translateX(3px);
}

.small-subtitle {
    font-size: 13px !important;
}

@media(max-width: 990px) {

    .informationcards{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    flex-wrap:wrap;
}
    
    .information-card-item{
        width: 240px;
        height: 240px;
        padding:30px;
        gap: 5px;

        p{
            font-size: 14px;
        }
    }

    .information-card-button{
        margin-top: 10px;
        padding: 4px 12px;
        font-size: 14px;
    }

    .information-card-item img{
        width: 140px;
        height: auto;
    }

    .information-card-item h2{
        font-size: 14px;
    }
}