.Hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../assets/hero-background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
    font-size: 110px;
    line-height: 1.2;
    font-weight: 600;
    }

    p {
    font-size: 40px;
    font-weight: 250;
    }
}

.hero-title{
    display:flex;
    flex-direction:column;
}

.hero-button {
    position: absolute;
    right: 8%;
    bottom: 10%;
    padding: 15px 30px;
    background: rgba(0,0,0, 0.33);

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border:1px solid rgba(118,118,118,1);

    color:white;

    border-radius:15px;

    transition:.3s;
    text-decoration:none;

    &:hover{
        background-color:rgba(255,255,255,.2);
    }
}

@media(max-width: 990px) {

    .hero-content {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h1{
            font-size: 40px;
            line-height: 1.2;
            font-weight: 600;
        }
           
        p {
            font-size: 25px;
            font-weight: 250;
    }
    }

    .hero-button {
        left: 50%;
        right: auto;
        bottom : 24%;
        transform: translateX(-50%);
        padding: 10px 25px;
        font-size: 14px;
        width: 210px;
        
        @media(max-width: 376px) {
            width: 210px;
            bottom: 20%;
        }
    }
}

.category-selection {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:120vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../assets/category-background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    gap: 50px;
    
}

.categoryheader {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    }

    p {
    font-size: 32px;
    font-weight: 250;
    text-align: center;
    }
}

.category-title{
    display:flex;
    flex-direction:column;
}

.Fauna{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:120vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../assets/fauna-background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    gap: 50px;
}

.Faunaheader {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    }
    
    span{
    display: block;
    margin-top: 10px;
    }

    p {
    font-size: 32px;
    font-weight: 250;
    text-align: center;
    }
    
}

.fauna-title{
    display:flex;
    flex-direction:column;
}

.Flora{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:120vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../assets/flora-background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    gap: 50px;
}

.Floraheader {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    }
    
    span{
    display: block;
    margin-top: 10px;
    }

    p {
    font-size: 32px;
    font-weight: 250;
    text-align: center;
    }
}

.Education {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:120vh;
    min-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.komodo{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../assets/education-komodo-bg.png");
    background-size: cover;
    background-position: center;
}

.tiger{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../assets/education-tiger-bg.png");
    background-size: cover;
    background-position: center;
}

.jalak{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../assets/education-jalak-bg.png");
    background-size: cover;
    background-position: center;
}

.rafflesia{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../assets/education-rafflesia-bg.png");
    background-size: cover;
    background-position: center;
}

.titan{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../assets/education-titan-bg.png");
    background-size: cover;
    background-position: center;
}

.moonorchid{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../assets/education-moonorchid-bg.png");
    background-size: cover;
    background-position: center;
}

.Education-Content-Container{
    min-height: 633px;
    max-width: 1240px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    border-radius: 45px;
    justify-content: center;
    gap: 70px;
}

.Education-content-left{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;

    img{
        width:410px;
        max-width:100%;
        height:auto;
        border-radius:34px;
    }
}

.Education-content-right{
    margin-top: 50px;
    color: #094B00;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    gap: 20px;

    h1{
        font-size: 44px;
    }

    span{
        display: block;
    }
    
    p{
        font-size: 20px;
    }
}

.Education-button{
    margin-top: 15px;
    width: 75px;
    height: 40px;
    margin-top: 20%;
    margin-left:90%;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    background: #0A6400;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;

    &:hover{
    background-color: #0c7d00;
    transform: translateY(-2px);
    }
}

.Education-button span{
    transition: transform .2s;
}

.Education-button:hover span{
    transform: translateX(3px);
}