.navbar{
    position: fixed;
    z-index: 1;
    margin: 20px 0 0 15%;
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    /* justify-content: flex-end; */
    border-radius: 22px;

    button{
        background: none;
        border: none;
        font-size: 16px;
        display: none;
    }

    img{
        margin-left: 40px;
        margin-top: 5px;
    }

    h1{
        margin: 10px;
        color: #094B00;
        font-weight: 200;
    }

    ul{
        margin-left: auto;
        display: flex;
        gap: 20px;
        

        li{
            margin-right: 20px;
            display: flex;
            align-items: center;
            
            

            a{
                text-decoration: none;
                color: #6B6B6B;
                font-weight: 400;
                transition: color 0.3s ease;


                &:hover{
                    color: #000000;
                }
            }
        }
    }

}

@media(max-width: 774px) {
    .navbar {
        height : 40px;
        width : 90%;
        margin: 20px 0 0 5%;

        button{
            display: none;
        }


        img{
            width: 30px;
            height: 30px;
            margin-left: 10px;
        }
        h1{
            font-size: 14px;
        }

        ul{
            font-size: 12px;
        }
        
    }
    }

    @media(max-width: 450px) {
    .navbar {
        height : 40px;
        width : 90%;
        margin: 20px 0 0 5%;


        img{
            width: 30px;
            height: 30px;
            margin-left: 10px;
        }
        h1{
            font-size: 14px;
        }
        
        ul {
            display: none;
        }
        
        @keyframes openMenu {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(0);
            }
        }

        ul.active{
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
            position: absolute;
            top: 43px;
            right: 0;
            width: 100%;
            align-items: center;
            animation: openMenu 1s ease-in-out;
        }

        ul.active li {
        margin: 10px 0;
        text-align: center;
        font-size: 14px;
    }

        button{
            display: flex;
            justify-content: end;
            align-items: center;
            margin-left: 55%;
               

            li{
                list-style: none;
                color: #6B6B6B;
                    
                }
            }
        }
    }