.navbar{
    position: fixed;
    z-index: 1;
    margin: 20px 0 0 15%;
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    /* justify-content: flex-end; */
    border-radius: 22px;

    img{
        margin-left: 40px;
        margin-top: 5px;
    }

    h1{
        margin: 10px;
        color: #094B00;
        font-weight: 200;
    }

    ul{
        margin-left: auto;
        display: flex;
        gap: 20px;
        

        li{
            margin-right: 20px;
            display: flex;
            align-items: center;
            
            

            a{
                text-decoration: none;
                color: #6B6B6B;
                font-weight: 400;
                transition: color 0.3s ease;


                &:hover{
                    color: #000000;
                }
            }
        }
    }
}

.Hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('img/hero-background.png');
    background-size: cover;
    color: white;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
    font-size: 110px;
    line-height: 1.2;
    font-weight: 600;
    }

    p {
    font-size: 40px;
    font-weight: 250;
    }
}

.hero-title{
    display:flex;
    flex-direction:column;
}

.hero-title span:first-child{
    display:block;
}